services:
  mongo:
    image: "mongo:8"
    expose:
      - 27017
    volumes:
      - "./mongo/db:/data/db"
      - "./mongo/configdb:/data/configdb"

  redis:
    build:
      context: "./redis"

  bot:
    build: .
    depends_on:
      - mongo
      - redis
    init: true
    links:
      - mongo
      - redis
    restart: unless-stopped
